﻿.AdminAttractions {
    padding: 0 15px;
}

.AdminAttractionsTable {
    display: flex;
    justify-content: flex-end;
}

.AdminAttractionsTable .Container {
    overflow: visible;
}

.AdminAttractionsTable table {
    border-collapse: separate;
    border-spacing: 0 20px;
}

.AdminAttractionsTable .TableHead th {
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #ACACAC;
    margin-top: 50px;
    padding: 20px 30px 30px 30px;
    text-transform: uppercase;
}

.AdminAttractionsTable .TableHead th span {
    color: #ACACAC;
}

.AdminAttractionsTable .TableRow {
    box-shadow: -4px 4px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #000000;
}

.AdminAttractionsTable .ValueCell {
    padding: 10px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    margin: 10px 0;
    border: none;
}

.AdminAttractionsTable .CrudCell {
    text-align: right;
}

.AdminAttractionsTable .CrudCell svg {
    margin: 0 10px;
    cursor: pointer;
}

.AdminAttractionsTable .CrudCell svg:hover {
    opacity: 0.7;
}

.AdminAttractionsTable .CrudCell .EditIconButton {
    display: inline-block;
}

.AdminAttractionsTable .Pagination p {
    margin: 0;
}

.Filter {
    margin-top: 45px;
}

.Filter .CreateButton {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #715D53;
    margin-left: 42px;
}

.Filter .ClearButton {
    width: 80%;
    background: #715D53 !important;
    color: #fff;
    font-size: 12px;
}

.Filter .PriceFields:first-child {
    padding-right: 5px;
}

.Filter .PriceFields:last-child {
    padding-left: 5px;
}

.SubmitButton {
    width: 100%;
    align-self: center;
    background: #715D53 !important;
    border: 1px solid #ACACAC !important;
    box-sizing: border-box !important;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25) !important;
    border-radius: 6px !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 50px !important;
    display: flex !important;
    align-items: center !important;
    color: #FFFFFF !important;
    margin-top: 30px !important;
}

.Label {
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #ACACAC;
    text-transform: uppercase;
    margin-left: 30px;
}

.Languages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.Languages img {
    width: 50px;
    height: 50px;
    margin: 4px 13px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #EAEAEA;
}


.selected {
    border-width: 4px !important;
    border-color: #715D53 !important;
}