﻿.LoginContainer {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.LoginForm {
    display: flex;
    margin-top: 50px;
}

.LoginForm h1 {
    font-size: 30px;
    font-weight: 400;
}

.LoginButton {
    background-color: #715D53;
    color: white !important;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px 0;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 3px 6px #0000000F;
}

.LoginButton:hover {
    opacity: 0.7;
}