.CheckOut {
    width: 100%;
    height: 100%;
    display: block;
}

.Container {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container h1 {
    line-height: 30px;
}

.ReservationCheckButtons {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.CheckOut .Button {
    padding: 0 30px !important;
    background: #715D53 !important;
    border: 1px solid #ACACAC !important;
    box-sizing: border-box !important;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25) !important;
    border-radius: 6px !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 50px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    width: 100%;
    margin-top: 50px;
}

.FormContainer {
    padding-top: 150px;
}
