.ReservationForm {
}

.SectionTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 30px;
}

.SectionTitleWithButton {
    display: flex;
    align-items: baseline
}

    .SectionTitleWithButton .Button {
        margin-left: 20px !important;
    }

    .SectionTitleWithButton h1 {
        margin-bottom: 0 !important;
    }

.SectionTitleWithPeriod {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .SectionTitleWithPeriod p {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        text-align: right;
        margin-bottom: 0;
    }

.Center {
    text-align: center;
}

.Button {
    padding: 0 30px !important;
    background: #715D53 !important;
    border: 1px solid #ACACAC !important;
    box-sizing: border-box !important;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25) !important;
    border-radius: 6px !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 50px !important;
    text-align: center !important;
    color: #FFFFFF !important;
}

a.Button {
    text-transform: uppercase;
    text-decoration: none;
}

.Table {
    margin-top: 25px;
}

    .Table span {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
    }

.TableHeader {
    margin-bottom: 25px;
}

    .TableHeader span {
        color: #ACACAC;
    }

.PaymentSelectBox {
    width: 200px !important;
    height: 160px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #8F8F8F !important;
    box-sizing: border-box;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 25px;
    cursor: pointer;
}

    .PaymentSelectBox img {
        align-self: center;
    }

    .PaymentSelectBox span {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }

    .PaymentSelectBox:hover {
        border: 3px solid #715D53 !important;
        color: #715D53 !important;
    }

    .PaymentSelectBox.Selected {
        border: 3px solid #715D53 !important;
        color: #715D53 !important;
    }

.Acceptance {
    margin: 15px 0 !important;
}

.AcceptanceLabel {
    display: flex !important;
    align-items: flex-start !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #ACACAC;
}

.AcceptanceLabelChecked {
    color: #000000;
}

.AcceptanceCheckbox {
    padding: 0 10px !important;
}

.CheckInButton {
    padding: 0 130px !important;
    align-self: center;
    background: #715D53 !important;
    border: 1px solid #ACACAC !important;
    box-sizing: border-box !important;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25) !important;
    border-radius: 6px !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 50px !important;
    display: flex !important;
    align-items: center !important;
    color: #FFFFFF !important;
}

.CategoryButtons {
    display: flex;
    justify-content: center;
}

.CategoryButton {
    height: 100%;
    max-width: 370px;
    background: #FFFFFF;
    border: 1px solid #8F8F8F !important;
    box-sizing: border-box !important;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 25px !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 50px !important;
    text-align: center;
    color: #000000 !important;
    padding: 30px 50px !important;
    margin: 20px !important;
    background-color: #fff !important;
}

.AdditionalAttractionsDialogHeader h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-align: center;
}

.Dialog {
    background: #fff url(../../images/bg-offer.png) center center/cover no-repeat;
}

.AdditionalAttractionsDialogContent {
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CloseIcon {
    display: flex;
    justify-content: end;
}

.ToPayLabel {
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-bottom: 30px;
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

.ToPayValue {
    padding-left: 15px;
    padding-bottom: 30px;
    color: #715D53;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}

.CopyPersonalData {
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 18px;
    background-color: #715d53;
}

.Birthday {
    margin-top: 8px;
    margin-bottom: 4px;
}