.CheckOutSummary {
    width: 100%;
    height: 100%;
    display: block;
}

.CheckOutSummaryContainer {
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

.CheckOutSummaryContainer h1 {
    text-align: center;
}