.CheckIn {}

.ReservationCheck {
    padding-top: 150px;
}

.Button {
    max-width: 370px;
    background: #FFFFFF;
    border: 1px solid #8F8F8F !important;
    box-sizing: border-box !important;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 25px !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 50px !important;
    text-align: center;
    color: #000000 !important;
    padding: 30px 50px !important;
    margin: 20px !important;
}

.ButtonSelected {
    border: 3px solid #715D53 !important;
    color: #715D53 !important;
}