.FinishPayment {
    width: 100%;
    height: 100%;
    display: block;
}

.FinishPaymentContainer {
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

.FinishPaymentContainer h1,
.FinishPaymentContainer h3 {
    text-align: center;
}

.ButtonContainer {
    display: flex;
    align-items: flex-end;
}

.Button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    background: #715D53 !important;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px !important;
    line-height: 50px !important;
    text-align: center;
    color: #FFFFFF !important;
    margin-bottom: 4px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.Button:hover {
    color: #715D53 !important;
    background: #FFFFFF !important;
    border-color: #715D53 !important;
}

.Table {
    margin-top: 25px;
}

.Table span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}

.TableHeader {
    margin-bottom: 25px;
}

.TableHeader span {
    color: #ACACAC;
}