.Carousel li {
    padding: 20px 0;
}

.AttractionPicker {
    width: 80%;
    background: #FFFFFF;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.16) !important;
    border-radius: 25px !important;
    overflow: hidden;
}

.AttractionPicker img {
    max-width: 100%;
}

.Body {
    padding: 30px;
}

.Header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.Description {
    margin-top: 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.Chooser {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.Price {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 45px;
    color: #000000;
}

.Button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    background: #715D53 !important;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

.Button:hover {
    color: #715D53 !important;
    background: #FFFFFF !important;
    border-color: #715D53 !important;
}

