.HeaderContainer {
    position: absolute;
    width: 100%;
}

.Header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.Header .Navigation {
    z-index: 1;
}

.Header h1 {
    position: absolute;
    /*z-index: -1;*/
    width: 100%;
    text-align: center;
    margin-left: -30px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .Header h1 {
        top: 80px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .Header h1 {
        width: unset;
        position: initial;
        margin-left: 0;
        font-size: 26px;
    }
}