.AdminConfig {
    padding: 0 15px;
}

.SubmitButton {
    width: 100%;
    align-self: center;
    background: #715D53 !important;
    border: 1px solid #ACACAC !important;
    box-sizing: border-box !important;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25) !important;
    border-radius: 6px !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 50px !important;
    display: flex !important;
    align-items: center !important;
    color: #FFFFFF !important;
    margin-top: 30px;
}