.Calendar th, .Calendar td {
    padding: 5px 10px;
    border: 1px solid #ACACAC;
    text-align: center;
}

.Calendar td:hover {
    background-color: #ACACAC;
    opacity: 0.6;
}

.Calendar .Busy {
    background-color: #aed581;
}

.Calendar .Busy:hover {
    background-color: #7da453;
    opacity: 1;
}

.Calendar .Inactive {
    background-color: #ef5350;
    cursor: not-allowed;
}

.Calendar .Inactive:hover {
    background-color: #b61827;
    opacity: 1;
}