body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 845px !important;
}

.modified-form {
    display: flex;
    justify-content: center;
    margin-top: 25px !important;
}

.modified-form.with-mt-50p {
    margin-top: 50px !important;
}

.modified-form label {
    transform: translate(30px, -25px) scale(0.75);
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #ACACAC;
    text-transform: uppercase;
}

.modified-form label.Mui-focused,
.modified-form-filter label.Mui-focused {
    color: #715D53 !important;
}

.modified-form .Mui-focused fieldset,
.modified-form-filter .Mui-focused fieldset {
    border-color: #715D53 !important;
}

.modified-form input,
.modified-form .MuiSelect-select {
    font-size: 20px;
    padding-top: 8px;
    line-height: 50px;
    height: unset;
}

.modified-form .MuiFilledInput-root {
    background-color: unset;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
}

.modified-form .MuiFilledInput-root.Mui-error {
    border-color: #d32f2f;
}

.modified-form .MuiFilledInput-root:after {
    border: none;
}

.modified-form .MuiFormControl-root {
    padding: 0 20px;
}

.modified-form .MuiFormControl-root {
    width: 100%;
}

.modified-form-filter.with-side-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.Mui-checked {
    color: #715D53 !important;
}

/*.Mui-selected,*/
.BrainhubCarousel__arrows {
    color: #fff !important;
    background-color: #715D53 !important;
}

.BrainhubCarousel__arrows:disabled {
    opacity: 0.5;
}

.container-center-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.vertical-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

.MuiIconButton-edgeEnd {
    padding: 4px !important;
}

.MuiInputAdornment-sizeSmall {
    margin-left: 0 !important;
}

.font-weight-bold {
    font-weight: bold !important;
}

.cursor-pointer {
    cursor: pointer !important;
}