.Languages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.Languages img {
    width: 50px;
    height: 50px;
    margin: 4px 13px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #EAEAEA;
}


.selected {
    border-width: 4px !important;
    border-color: #715D53 !important;
}

@media only screen and (max-width: 768px) {
    .Languages img {
        width: 40px;
        height: 40px;
        margin: 4px;
    }
}