.Home {
    width: 100%;
    height: 100%;
    display: block;
    background: #fff url(../../images/bg.png) center center/cover no-repeat;
}

.TopBar {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.Blocks {
    justify-content: center;
}

.Block {
    padding: 20px !important;
    width: 370px;
    height: 370px;
}

.Block a {
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.BlockContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 60px 0;
    background: #fff;
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 25px;
    cursor: pointer;
}

.BlockContainer div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BlockContainer div img {
    align-self: center;
}

@media
  (max-width: 1340px)
  and (orientation: landscape) {
    .Block {
        height: 300px;
    }

    .BlockContainer {
        padding: 40px 0;
    }
}