.OfferContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Offer {
    width: 100%;
    height: 100%;
    display: block;
    background: #fff url(../../images/bg-offer.png) center center/cover no-repeat;
}

.Buttons {
    display: flex;
    justify-content: center;
}

.Button {
    height: 100%;
    max-width: 370px;
    min-width: 340px !important;
    background: #FFFFFF;
    border: 1px solid #8F8F8F !important;
    box-sizing: border-box !important;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 25px !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 30px !important;
    line-height: 50px !important;
    text-align: center;
    color: #000000 !important;
    padding: 30px 50px !important;
    margin: 20px !important;
    background-color: #fff !important;
}

@media
  (max-width: 1340px)
  and (orientation: landscape) {
    .Button {
        min-width: 270px !important;
        padding: 30px !important;
    }
}