.News img {
    width: 100%;
    border-radius: 25px;
}

.News p {
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.News .Price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #715D53;
}

.SpeakerButton {
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 10px;
}