﻿.Categories {
    margin-top: 50px;
}

.CategoryTypeContainer {
    display: flex;
    justify-content: center;
}

.CategoryType {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #A7A7A7;
    cursor: pointer;
}

.SelectedCategoryType {
    color: #000000;
}


.TableHead {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #ACACAC;
    margin-top: 50px;
    padding: 50px 30px 30px 30px;
    border-top: 1px solid #979797;
    text-transform: uppercase;
}

.TableRow {
    padding: 10px 30px;
    background: #FFFFFF;
    box-shadow: -4px 4px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin: 10px 0;
}

.CrudCell {
    display: flex;
    justify-content: end;
    align-items: center;
}

.CrudCell svg {
    margin: 0 10px;
    cursor: pointer;
}

.CrudCell svg:hover {
    opacity: 0.7;
}

.SubmitButton {
    width: 100%;
    align-self: center;
    background: #715D53 !important;
    border: 1px solid #ACACAC !important;
    box-sizing: border-box !important;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25) !important;
    border-radius: 6px !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 50px !important;
    display: flex !important;
    align-items: center !important;
    color: #FFFFFF !important;
    margin-top: 30px;
}