.Carousel li {
    padding: 20px 0;
}

.Carousel .RoomPicker {
    width: 80%;
    background: #FFFFFF;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.16) !important;
    border-radius: 25px !important;
    overflow: hidden;
}

.Carousel .RoomPicker img {
    max-width: 100%;
}

.Carousel .Body {
    padding: 30px;
}

.Carousel .Header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.Carousel .Description {
    margin-top: 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.Carousel .Chooser {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Carousel .QuantitySelect {
    display: flex;
    align-items: center;
}

.Carousel .QuantitySelect img {
    margin: 10px;
    cursor: pointer;
}

.Carousel .QuantitySelect img:first-child {
    margin-left: 0px;
}

.Carousel .QuantitySelect span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 40px;
    color: #000000;
}

.Carousel .Price {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 45px;
    color: #000000;
}

.Carousel .Button {
    width: 100%;
    margin-top: 10px;
    background: #715D53 !important;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

.Carousel .Button.Checked {
    background: #FFFFFF !important;
    border: 1px solid #715D53 !important;
    box-sizing: border-box !important;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25) !important;
    border-radius: 6px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #715D53;
}
